      <ul class=tasks>
       {% for task in tasks %}
      <form role="form" ng-submit="addTask()">
        <div class="form-group row">
          <h2>{{ task.task }}</h2>
          <button type="submit" name='action' value='change' class="btn btn-default">{{['Done','Undone'][task.done]}}</button>
          <button type="submit" name='action' value='drop' class="btn btn-default">Delete</button>
          <input type="hidden" name="id" value={{task.id}}>
        </div>
      </form>
       {% else %}
      <li><em>No tasks</em>
       {% endfor %}
      </ul>